{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>About tulipanes</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro sunt sequi incidunt necessitatibus tempore perspiciatis optio! Neque, atque? Rerum eligendi aut veniam, sit quasi voluptatem blanditiis autem asperiores iure.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/Tulips.jpg" class="img-thumbnail">
        </div>
        
    </div>
   {{> footer }}
  